.projects {
  height: 120vw;
}

.invisible-projects {
  position: absolute;
  z-index: 1;
  background-color: #191919;
  height: 8%;
  width: 3vw;
  border-right-width: 0.4vw;
  border-right-style: solid;
  border-right-color: #945197;
  animation: Slide_Away_projects 1s ease 1.5s forwards;
}

.invisible-top-projects {
  position: absolute;
  left: 3%;
  z-index: 0;
  height: 8%;
  width: 8vh;
  border-top-width: 0.4vw;
  border-top-style: solid;
  background-color: #191919;
  border-top-color: #945197;
}

.head-projects {
  position: relative;
  left: 3%;
  height: 8%;
  width: 25%;
}

.head-projects > h2 {
  position: relative;
  font-size: 3vw;
  z-index: 0;
  color: whitesmoke;
  left: 0.8vw;
  animation: Slide_Right_projects 1s ease;
}

@keyframes Slide_Right_projects {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 3%;
    opacity: 1;
  }
}

@keyframes Slide_Away_projects {
  0% {
    height: 8%;
  }
  100% {
    height: 0%;
  }
}

.projects-container {
  position: relative;
  padding-top: 5vw;
  top: -5vw;
}

.projects-container > img {
  position: relative;
  background-color: whitesmoke;
  height: 30vw;
  width: 30vw;
  left: 25vw;
}

.project-description {
  position: absolute;
  z-index: 1;
  right: 20vw;
  top: 9.5vw;
  height: 18.3vw;
  width: 31vw;
  background-color: #442546;
  color: whitesmoke;
  padding-left: 1vw;
  padding-right: 1vw;
  border-right-width: 0.4vw;
  border-right-style: solid;
  border-right-color: #945197;
}

.project-description.animate {
  animation: Slide_Left_projects 1s ease;
}

@keyframes Slide_Left_projects {
  0% {
    right: -20%;
    opacity: 0;
  }
  100% {
    right: 20%;
    opacity: 1;
  }
}

.invisible-left-projects {
  position: absolute;
  z-index: 2;
  background-color: #191919;
  height: 52%;
  width: 19.6%;
  left: 80%;
  top: 27%;
}

.project-description > h3,
p {
  width: 85%;
  font-size: 1.1vw;
}

.made-with-list > h5 {
  position: relative;
  top: -2vw;
  float: left;
  padding: 2%;
  margin-right: 2%;
  background-color: #2e192f;
  border-radius: 0.2vw;
  font-size: 0.9vw;
}

.project-links {
  position: relative;
  float: top;
  top: -13.5vw;
  left: 1vw;
}

#birthday {
  height: 15vw;
  top: 12vw;
  left: 25vw;
  text-align: right;
  border-left-width: 0.4vw;
  border-left-style: solid;
  border-left-color: #945197;
  border-right: none;
}

#birthday-link {
  top: -11vw;
  left: 0.5vw;
  padding-left: 25vw;
}

#birthday_img {
  left: 50vw;
}

#violetLight {
  height: 19.5vw;
}

#violetLight-link {
  top: -15vw;
}
