.invisible {
  z-index: 1;
  position: absolute;
  background-color: #191919;
  height: 43%;
  width: 14.5vw;
  top: 13.5vw;
  border-right-width: 0.5vw;
  border-right-style: solid;
  border-right-color: #945197;
  animation: Slide_Down 2s ease;
}

.box {
  position: absolute;
  width: 25%;
  left: 15%;
  top: 27%;
  height: 43%;
  animation: Slide_Down 2s ease;
}

.box > h1 {
  position: relative;
  left: 0.7vw;
  top: -3vh;
  font-size: 5vw;
  line-height: 110%;
  color: whitesmoke;
  animation: Slide_Right 3.5s ease;
}

.box > p {
  position: relative;
  left: 0.7vw;
  top: -4em;
  color: whitesmoke;
  animation: Slide_Right 3.5s ease;
}

@keyframes Slide_Right {
  0% {
    left: -100%;
    opacity: 0;
  }
  50% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 3%;
    opacity: 1;
  }
}

@keyframes Slide_Down {
  0% {
    top: -100vw;
  }
  100% {
    top: 13.5vw;
  }
}

.home {
  height: 105vh;
}
