.content{
    padding-bottom: 500px;
}

menuitem{
    padding: 2%;
}

menuitem:hover{
    font-style: italic;
}

selected-menuitem{
    padding: 2%;
    text-decoration: underline;
}

selected-menuitem:hover{
    font-style: italic;
}